<h1>Weather</h1>

<div class="row instructions">
    <p>Choose a country to get started.</p>
</div>

<div class="form-inline">
    <div class="form-group">
        <label for="country">Country:</label>
        <input type="text" name="country" [(ngModel)]="country" class="form-control" required />
        <button (click)="getCities()" class="btn btn-primary">Get Cities</button>
    </div>
</div>

<div class="form-inline" *ngIf="cities">
    <div class="form-group">
        <label for="city">City:</label>
        <select name="city" class="form-control">
            <option *ngFor="let city of cities" value={{city}}>
                {{city}}
            </option>
        </select>
    </div>
</div>
